body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffc;
}

.persons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.persons > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #a00;
    width: clamp(250px, 30vw, 300px);
    position: relative;
}

.flag {
    height: 40px;
    aspect-ratio: 5/3;
    position: absolute;
    top: 175px;
    right: 40px;
}

a:hover {
    color: #f00;
    font-weight: 600;
}
